.sec1 {
    background-color: rgb(16, 70, 16);
    height: 6rem;
}

.cont-mess {
    z-index: 1;
    color: white;
    position: absolute;
    top: 10%;
    left: 7%;
    height: 90vh;

}

.img-icon {
    width: 50px;
}

.mar-neg-dx {
    margin-left: 6rem;

}

.middle-section {
    flex-grow: 1;
    overflow: auto;
    padding-top: 1rem;
}

.main-container {
    background-image: url("../img/mine.jpg");
    width: 100%;
    flex-grow: 1;
    overflow: auto;
    padding-top: 5rem;
    height: 70vh;

}

.bottom-navbar {
    color: red;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 80px;
    z-index: 1;
    overflow: hidden;


}

.mar-neg-dx2 {
    margin-left: 45rem;

}




.insert-message-container {
    background-color: rgb(243, 238, 234);
    padding: 10px 0;
}

.insert-message-container .icons-container {
    flex-basis: 10%;
    margin: 0 auto;
}

.insert-message-container .input-container {
    flex-basis: 80%;
    margin: 0 auto;

}

.insert-message-container input {
    width: 100%;
    padding: 10px 0 10px 15px;
    border: none;
    border-radius: 8px;
}

.insert-message-container .icons-container i {
    font-size: 25px;
    color: rgb(107, 115, 117)
}

.send-message-green {
    padding-left: 1rem;
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 8px;
    width: 250px;
    height: 50px;
    background-color: rgb(168, 253, 187);
}

.send-message-white {
    padding-left: 1rem;
    margin-right: auto;
    margin-left: 1rem;
    border-radius: 8px;
    width: 250px;
    height: 50px;
    background-color: white;
}